# Frontend API base URL (gateway)
API_GATEWAY_URL=http://localhost:5006

# Google OAuth Client ID (Web application)
GOOGLE_CLIENT_ID=450643445715-v7ae2hgkm4mi76j9pualqv7cecnru1c9.apps.googleusercontent.com
